*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid aqua; */
}

:root {
  /* Marca */
  --snitap-sun: #ffcd1e;
  --snitap-sky-mid: #06b6d4;
  --snitap-sky-light: #67e8f9;
  --snitap-joy-mid: #db2777;
  --snitap-joy-light: #f472b6;
  --snitap-leaf-mid: #16a34a;

  /* Base */
  --text: black;
  --higilights: black;
  --background: #fafafa;

  --ff-base: "Montserrat", sans-serif;
  --ff-alt: "Syne", sans-serif;
  --text-sm: 0.875rem;
  --text-lg: 2.5rem;
  --text-xl: 4rem;
}

body {
  background-color: var(--background);
}

html,
button {
  font: 500 1rem/1.5 var(--ff-base);
}

span {
  font: 500 0.875rem/1.5 "Montserrat", sans-serif;
}

h1,
h2 {
  font-family: "Syne", sans-serif;
  font-weight: bold;
}

h1 {
  font-size: var(--text-xl);
  line-height: 1.25;
}

h2 {
  font-size: var(--text-lg);
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: inherit;
}

.gap-\.5 {
  gap: 0.5rem;
}

.gap-\.875 {
  gap: 0.875rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.px-2 {
  padding-inline: 2rem;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.space-between {
  justify-content: space-between;
}

.mx-auto{
  margin-inline:auto;
}